<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <%= render "movies/form", movie: @movie, list_of_directors: Director.all.order(:name => :asc).map{ |director| [director.name, director.id]}  %>
      </tr>
  </tbody>

  <tbody id="movies">
    <% @movies.order(:id => :desc).each do |movie| %>
      <tr id="<%= dom_id(movie) %>">

        <td>
          <div id="<%= dom_id(movie) %>_title">
            <%= link_to "movies/#{movie.id}/title/edit", remote: true do %>
              <%= movie.title %>
            <% end %>
          </div>
        </td>

        <td>
          <div id="<%= dom_id(movie) %>_year">
            <%= link_to "movies/#{movie.id}/year/edit", remote: true do %>
                <% if movie.year == 0 %>
                    Add year
                <% else %>
                  <%= movie.year %>
                <% end %>
            <% end %> 
          </div>
        </td>

        <td>
          <div id="<%= dom_id(movie) %>_director">
            <%= link_to "movies/#{movie.id}/director/edit", remote: true do %>
              <%= Director.find(movie.director_id).name %>
            <% end %>
          </div>
        </td>

        <td>      
          <div id="<%= dom_id(movie) %>_description">
              <details>
                <summary>
                  Show description
                </summary>
                  <p><%= movie.description %></p>
                <%= link_to "movies/#{movie.id}/description/edit", remote: true do %>
                  Edit
                <% end %> 
              </details>
          </div>
        </td>

        <td>
          <div id="<%= dom_id(movie) %>_duration">
          <%= link_to "movies/#{movie.id}/duration/edit", remote: true do %>
              <% if movie.duration == 0 %>
                Add duration
              <% else %>
                <%= movie.duration %> minutes
              <% end %>
          <% end %> 
          </div>
        </td>

        <td><%= link_to 'Destroy', movie, method: :delete, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

