<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <%= render "movies/form", movie: @movie, list_of_directors: Director.all.order(:name => :asc).map{ |director| [director.name, director.id]}  %>
      </tr>
  </tbody>

  <tbody id="movies">
    <% @movies.order(:id => :desc).each do |movie| %>
      <tr id="<%= dom_id(movie) %>"">
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= Director.find(movie.director_id).name %></td>
        <td>      
          <details>
            <summary>
              Show description
            </summary>
              <p><%= movie.description %></p>
            <%= link_to edit_movie_path(movie), remote: true do %>
              Edit
            <% end %> 
          </details>
        </td>
        <td><%= movie.duration %> minutes</td>
        <td><%= link_to 'Destroy', movie, method: :delete, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

